<div class="band_content">
  <%= form_for @brand, url: new_brand_path, method: "post" do |f| %>
      <div class="box_text mb20">
        <%= label :brand, :name, "品牌名称" %>
        <%= f.text_field :name, class: "text" %>
      </div>
      <div class="box_text mb20">
        <%= label :brand, :logo, "品牌LOGO" %>
        <div class="clearfix">
          <div class="brand_logo float-image" id="brand_logo">
            <%= image_tag @brand.get_avatar_img("thumb") %>
          </div>
          <div class="upload_form">
            <span>图片大小小于2兆</span>
            <br>
            <label for="upload_brand_logo">点击上传图片</label>
            <input type="file" id="upload_brand_logo" onchange="uploadBrandLogo(this)" style="display: none">
          </div>
        </div>
      </div>
      <div class="box_text mb20">
        <%= label :brand, :brand_category_id, "所属分类" %>
        <%= f.select :brand_category_id, BrandCategory.all.map { |c| [c.name, c.id] }, :prompt => '请选择' %>
      </div>
      <div class="box_text mb20">
        <%= label :brand, :place, "所属地区" %>
        <%= f.hidden_field :place %>
        <div data-toggle="distpicker" class="distpicker">
          <% distpicker_arr = @brand.try(:place).blank? ? [] : @brand.try(:place).split(",") %>
          <select id="province" data-province="<%= distpicker_arr[0].blank? ? '-- 选择省 --' : distpicker_arr[0] %>"></select>
          <select id="city" data-city="<%= distpicker_arr[1].blank? ? '-- 选择市 --' : distpicker_arr[1] %>">"></select>
          <select id="district" data-district="<%= distpicker_arr[2].blank? ? '-- 选择区 --' : distpicker_arr[2] %>">"></select>
        </div>
        <input id="detail_address" placeholder="详细地址" class="text" type="text" value="<%=distpicker_arr[3]%>">
      </div>
      <div class="box_text mb20">
        <%= label :brand, :leader, "负责人姓名" %>
        <%= f.text_field :name, class: "text" %>
      </div>
      <div class="box_text mb20">
        <%= label :brand, :name, "负责人手机" %>
        <%= f.text_field :name, class: "text" %>
      </div>
      <div class="box_text mb20">
        <%= label :brand, :business_licence, "营业执照" %>
        <div class="clearfix">
          <div class="brand_business_licence float-image" id="brand_business_licence">
            <%= image_tag @brand.get_avatar_img("thumb") %>
          </div>
          <div class="upload_form">
            <span>图片大小小于400KB</span>
            <br>
            <label for="upload_brand_business_licence">点击上传图片</label>
            <input type="file" id="upload_brand_business_licence" onchange="uploadBrandBusinessLicence(this)" style="display: none">
          </div>
        </div>
      </div>
      <div class="box_text mb20">
        <%= label :brand, :business_scope, "经营范围" %>
        <%= f.text_field :business_scope, class: "text" %>
      </div>
      <div class="box_text mb20">
        <%= label :brand, :content, "品牌介绍" %>
        <%= f.text_field :content, class: "text" %>
      </div>
      <div class="box_text tac">
        <input type="button" value="提交" class="btn-submit">
      </div>
  <% end %>
</div>