<div>
  <span>忘记密码</span>
  <%=form_for :session, url: forget_password_path, method: "post" do |f|%>
  手机号:<%=f.text_field :phone, class: "form-control", placeholder: "输入手机号"%>

  <%=f.text_field :verification_code, autocomplete: "off"%> <span onclick="getVerificationCode()" time="60" id="verification_code_btn">获得手机验证码</span>

  <div class="input-group margin-bottom-20">
    <span class="input-group-addon rounded-left"><i class="icon-lock color-red"></i></span>
    <%= f.password_field :password, autocomplete: "off", class: "form-control rounded-right", placeholder: "密码", required: true, rangelength: [8,16]   %>
  </div>

  <div class="input-group margin-bottom-20">
    <span class="input-group-addon rounded-left"><i class="icon-lock color-red"></i></span>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control rounded-right", placeholder: "再次输入密码", required: true, equalTo: "#session_password", rangelength: [8,16]   %>
  </div>

  <span onclick="submitSignIn()">提交</span>
  <%end%>
</div>

<%=flash[:notice] if !params[:session].blank?%>