<div class="md_home">
  <div class="md_box" style="margin-bottom: 40px;">
    <%= form_for @user_profile, url: home_edit_path, method: "post" do |f|%>
    <div class="box_text mb20">
      <p>昵称</p>
      <%=f.text_field :user_name, class: "text"%>
    </div>

    <div class="box_text mb20">
      <p>简介</p>
      <%=f.text_area :motto, class: "text", maxlength: 100%>
    </div>

    <div class="update">
      <p>上传图像</p>
      <div class="clearfix">
        <div class="my_image" id="my_image">
          <%=image_tag current_user.user_profile.get_avatar_img("medium")%>
        </div>
        <div class="upload_form">
          <label>图片大小小于2兆</label>
          <%#= f.file_field :avatar %>
          <label for="upload_user_image">上传图片</label>
          <input type="file" id="upload_user_image" onchange="uploadUserImage(this)" style="display: none">
        </div>
      </div>
    </div>
    <div class="clearfix select_area">
      <p>工作所在地</p>
      <div data-toggle="distpicker">
        <%= f.select :province, {}, {}, {"data-province": @user_profile.province.blank?? '---- 选择省 ----': @user_profile.province}%>
        <%= f.select :city, {}, {}, {"data-city": @user_profile.city.blank?? '---- 选择市 ----': @user_profile.city}%>
        <%= f.select :district, {}, {}, {"data-district": @user_profile.district.blank?? '---- 选择区 ----': @user_profile.district}%>
      </div>
    </div>
    <div class="box_text mb20 detailed_address">
      <%= f.text_field :detail_address, placeholder: "详细地址", class: "text" %>
    </div>
    <div class="confirm_area">
      <span onclick="userEditorSubmit()" class="confirm_a">提交</span>
    </div>
    <%end%>
  </div>
</div>