<div class="myhome">
  <!--用户头像／名字-->
  <div class="myhome_top">
    <%= link_to home_edit_path do%>
    <div class="info-avatar"><%=image_tag current_user.user_profile.get_avatar_img("medium")%></div>
    <div class="info-items is-bfc clearfix">
      <div class="info-name">
        <%=current_user.user_profile.try(:user_name)%>
        <div class="introduce">
          简介:<%=current_user.user_profile.get_motto%>
        </div>
      </div>
    </div>
    <%end%>
  </div>
  <div class="myhome_con">
    <ul class="user_slist">
      <li>
        <span class="icon-file-text2"></span>
        <%= link_to "我的资料", home_edit_url%>
        <span class="icon-chevron-thin-right"></span>
      </li>
      <li><span class="icon-file-picture"></span><%= link_to "我的展示", home_post_list_path%><span class="icon-chevron-thin-right"></span></li>
      <li><span class="icon-file-picture"></span><%= link_to "我的活动", home_activity_list_path%><span class="icon-chevron-thin-right"></span></li>
    </ul>
  </div>
  <div class="myhome_con">
    <ul class="user_slist">
      <li><span class="icon-clipboard"></span><%= link_to("登记品牌",new_brand_path)%><span class="icon-chevron-thin-right"></span></li>
      <li><span class="icon-paste"></span><%= link_to("绑定品牌",list_brand_path)%><span class="icon-chevron-thin-right"></span></li>
      <!-- 积分模块
       <li><span class="icon-gift"></span><a href="" class="">积分358</a><span class="icon-chevron-thin-right"></li>-->
      <li><span class="icon-paste"></span> <%=link_to("退出", logout_path, class: "logout")%><span class="icon-chevron-thin-right"></span></li>
    </ul>
  </div>
</div>