<div class="release_activity">
  <%=form_for @activity, url: home_activity_new_path, method: "post" do |f|%>
      <%= hidden_field_tag(:id, params[:id]) %>
  <div class="release_area">
    <div class="release_pic">
      <%=image_tag @activity.get_avatar_img(:medium), id:"avatar1", width:"100%", height: "135px", onclick:"$('#file_avatar1').trigger('click')"%>
      <input type="file" id="file_avatar1" activity_id="<%=@activity.id%>" onchange="uploadActivityImage(this)" style="display: none">
    </div>
    <div class="release_text">
      <div class="input_a">
        <span class="icon-star-empty"></span>
        <%=f.text_field :title, class: "text", required: true, placeholder: "活动名称（必填）"%>
      </div>
    </div>
  </div>
  <div class="release_detail">
    <div class="release_detail_1">
      <div class="input_a">
        <span class="icon-star-empty"></span>
        <%=f.text_field :start_time, class: "text", id:"start_time", required: true, placeholder: "活动现场-开始时间（必填）"%>
      </div>
      <div class="input_a">
        <span class="icon-star-empty"></span>
        <%=f.text_field :end_time, class: "text", id:"end_time", required: true, placeholder: "活动现场-结束时间（必填）"%>
      </div>
      <div class="input_a">
        <span class="icon-star-empty"></span>
        <input placeholder="活动地址（必填）" class="text" type="text">
      </div>
      <div class="input_a">
        <span class="icon-star-empty"></span>
        <%=f.text_field :phone, class: "text", required: true, placeholder: "咨询电话（必填）"%>
      </div>
    </div>
  </div>
  <div class="release_btn">
    <div class="add_info_btn" id="avatar2_addbtn" style="<%=@activity.check_img("avatar2")? '':'display:none'%>" onclick="addInfoBtn(this)">
      <span class="icon-cog"></span>
      <span>添加内容</span>
    </div>
    <%=image_tag @activity.get_avatar_img(:medium, "avatar2"), {id:"avatar2", width:"100%", height: "135px", onclick:"$('#file_avatar2').trigger('click')", style: @activity.check_img("avatar2")? 'display:none':''}%>
    <input type="file" id="file_avatar2" activity_id="<%=@activity.id%>" onchange="uploadActivityImage(this)" style="display: none">

    <div class="release_post">
      <a href="javascript:;" onclick="$('form').submit()">立即发布</a>
    </div>
  </div>
  <%end%>
</div>
<script type="text/javascript">
  $(function () {
    var currYear = (new Date()).getFullYear();
    var opt={};
    opt.date = {preset : 'date'};
    opt.datetime = {preset : 'datetime'};
    opt.time = {preset : 'time'};
    opt.default = {
      theme: 'android-ics light', //皮肤样式
      display: 'modal', //显示方式
      mode: 'scroller', //日期选择模式
      dateFormat: 'yyyy-mm-dd',
      lang: 'zh',
      showNow: true,
      nowText: "今天",
      startYear: currYear - 50, //开始年份
      endYear: currYear + 10 //结束年份
    };
    $("#start_time").mobiscroll($.extend(opt['datetime'], opt['default']));
    $("#end_time").mobiscroll($.extend(opt['datetime'], opt['default']));

  });
</script>